body {    
}
.bold {
    font-weight:bold;
}
.weather-icon{
    width: 128px;
    height: 128px;
}

.borders {
    margin-top: 15px;
    margin-bottom: 15px;
}

.small-controls-panel{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin-bottom: 5px;
}
